/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {background: linear-gradient(red, #351134 50%);

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 15px; }

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

router-outlet + *  {
  display: flex;
  padding: 0 16px;
}
